{% load static %}

<!-- Card Wider -->
<div class=" card card-cascade wider mt-2 mb-3 col  border-0 bg-customize">
  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top rounded-circle" src="{% static 'blog/images/profile.jpg' %}" alt="Card image cap">
  </div>
  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">
    <!-- Title -->
    <h4 class="card-title"><strong>Amadou SY</strong></h4>
    <!-- Subtitle -->
    <h5 class="blue-text pb-2"><strong>Software Engineer</strong></h5>
    <!-- Text -->
    <!--<p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>-->
    <!-- Linkedin --> 
    <a class="px-2 fa-lg li-ic" href="https://www.linkedin.com/in/amadou-sy-979488112/" target="_blank" rel="noopener" title="linkedin">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <!-- Github -->
    <a class="px-2 fa-lg gh-ic" href="https://github.com/amadousysada" target="_blank" rel="noopener" title="Github">
      <i class="fab fa-github"></i>
    </a>

  </div>
</div>
<!-- Card Wider -->