{% extends "base.html" %}
{% load static %}
{% block content %}

<main role="main">
  <div class="alert alert-primary sticky-top" role="alert">
  A simple primary alert—check it out!
</div>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start  sticky-top mb-5">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Heading1</h5>
        <small>small1</small>
      </div>
      <p class="mb-1">Paragraph1</p>
      <small>paragraph footer 1</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start sticky-top">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Heading</h5>
        <small>small</small>
      </div>
      <p class="mb-1">Paragraph</p>
      <small>paragraph footer</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled sticky-top">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Heading</h5>
        <small>small</small>
      </div>
      <p class="mb-1">Paragraph</p>
      <small>paragraph footer</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active sticky-top">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Heading</h5>
        <small>small</small>
      </div>
      <p class="mb-1">Paragraph</p>
      <small>paragraph footer</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Heading</h5>
        <small>small</small>
      </div>
      <p class="mb-1">Paragraph</p>
      <small>paragraph footer</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Heading</h5>
        <small>small</small>
      </div>
      <p class="mb-1">Paragraph</p>
      <small>paragraph footer</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Heading</h5>
        <small>small</small>
      </div>
      <p class="mb-1">Paragraph</p>
      <small>paragraph footer</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Heading</h5>
        <small>small</small>
      </div>
      <p class="mb-1">Paragraph</p>
      <small>paragraph footer</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Heading</h5>
        <small>small</small>
      </div>
      <p class="mb-1">Paragraph</p>
      <small>paragraph footer</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Heading</h5>
        <small>small</small>
      </div>
      <p class="mb-1">Paragraph</p>
      <small>paragraph footer</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Heading</h5>
        <small>small</small>
      </div>
      <p class="mb-1">Paragraph</p>
      <small>paragraph footer</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Heading</h5>
        <small>small</small>
      </div>
      <p class="mb-1">Paragraph</p>
      <small>paragraph footer</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Heading</h5>
        <small>small</small>
      </div>
      <p class="mb-1">Paragraph</p>
      <small>paragraph footer</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Heading</h5>
        <small>small</small>
      </div>
      <p class="mb-1">Paragraph</p>
      <small>paragraph footer</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Heading</h5>
        <small>small</small>
      </div>
      <p class="mb-1">Paragraph</p>
      <small>paragraph footer fin</small>
    </a>
  </div>
</main>

{% if messages %}

{% endif %}
{% endblock %}