{% extends "base.html" %}
{% load static %}
{% block content %}

<main role="main">
  <!--<div class="alert alert-primary sticky-top" role="alert">
  A simple primary alert—check it out! -->
  <div class="list-group">
    {% for post in posts %}
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start mt-5">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{post.topic}}</h5>
          <small>small1</small>

        </div>
        <p class="mb-1">Paragraph1</p>
        <small>{{post.content|safe}}</small>
      </a>
    {% endfor %}
  </div>
</main>

{% if messages %}

{% endif %}
{% endblock %}