<!DOCTYPE html>
<html lang="en">

{% load static %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{#Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link href="{% static 'blog/images/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'blog/images/favicons/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'blog/images/favicons/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'blog/images/favicons/site.webmanifest' %}" rel="manifest">
    <link color="#5bbad5" href="blog/images/favicons/safari-pinned-tab.svg' %}" rel="mask-icon">
    <meta content="Dev Up" name="apple-mobile-web-app-title">
    <meta content="Dev Up" name="application-name">
    <meta content="#00aba9" name="msapplication-TileColor">
    <meta content="#f6eaf4" name="theme-color">

    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">

    <script src="{% static 'blog/js/navbar.js'%}"></script>
    {% block JheadScript %}{% endblock%}
    {% block stylesheet %}
    <link href="{% static 'blog/css/myStyle.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'blog/css/about.css'%}" rel="stylesheet" type="text/css">
    {% endblock %}
    <title>{% block title%}{{"dev up"|title}}{% endblock %}</title>
</head>


<nav class="container navbar navbar-expand-lg  navbar-light">

    <a class="navbar-brand  d-none d-md-block d-xl-block" href="/">
        <img height="100%" src="{% static 'blog/images/logo-D1.png' %}" width="100%">
    </a>
    <a class="navbar-brand  d-inline-block d-sm-block d-md-none" href="/">
        <img height="30%" src="{% static 'blog/images/logo-E1.png' %}" width="30%">
    </a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler ml-auto"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<body class="container-fluid">
    <div class="mt-0 pt-0">
        <hr/>
    </div>
    <div class="row">
        <div class="col-2 d-none d-xl-block">
            {% block profile %}
                <div class="row mt-5" style="position:fixed;" >
                    {% include "blog/about.html" %}
                </div>
            {% endblock %}

            <div class="col-6 d-none d-md-block d-xl-block">
                {% block coverA %}{% endblock %}
            </div>

            <div class="col-3 d-none d-md-block d-xl-block">
                {% block tags %}{% endblock %}
            </div>

            <div class="col d-inline-block d-sm-block d-md-none">
                {% block coverB %}{% endblock %}
            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        {% block content %}{% endblock %}
                        {% block comments %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer class="container-fluid page-footer font-small blue mt-5 pt-5">

    <div class="mt-5 pt-5">
        <hr>
    </div>
    <div class="row d-xl-none d-sm-block d-md-block">
        {% include "blog/about.html" %}
    </div>
    <div class="row">
        <div class="col text-center">
            <h6>© 2018</h6>
            <p>Coding is more than a philosophy!</p>
        </div>
    </div>
</footer>

</html>